/* PlayingCard.module.css */
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    perspective: 1000px;
    width: 100%;
  }
  
  .cardImage {
    width: 120px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    transform-style: preserve-3d;
  }
  
  .cardImage:hover {
    transform: translateY(-5px) rotateY(10deg);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }